/*-- scss:defaults --*/

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat");

// Base document colors
$body-bg: #181818;
$body-color: white;
$navbar-bg: #212121;

// Code blocks
$code-block-bg-alpha: -.8;

/* ------- customize collapsible text -------- */   
.card {
  background-color: #181818 !important;
  border-color: white !important;
}
/* ------- customize button class -------- */
@mixin button-variant($background, $border, $color) {
    background-color: $body-bg;
    border: 1px solid white;
    color: white;

    &:hover {
        background-color: white;
        border: 1px solid $body-bg;
        color: $body-bg;
    }
}

.btn-primary {
    &.basic {
        @include button-variant(black, white, white);
    }
}